<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902899249601-d3ngkh2d8o456heopcqcpjcaj4oq0hrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902899249601-d3ngkh2d8o456heopcqcpjcaj4oq0hrj</string>
	<key>API_KEY</key>
	<string>AIzaSyBRtOY-vOOsOoyyaMbg37YUmbpiTMU9yGI</string>
	<key>GCM_SENDER_ID</key>
	<string>902899249601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaAutn</string>
	<key>PROJECT_ID</key>
	<string>socialmediaautn</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaautn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902899249601:ios:3931003ba09ec2baa87f40</string>
</dict>
</plist>